 <HEAD>
	   <SCRIPT language="javascript">
				    function add(type) {
		 //Create an input type dynamically. 
		 var element = document.createElement("input");
		  //Assign different attributes to the element. 
		  element.setAttribute("type", type);
		  element.setAttribute("value", type);
		  element.setAttribute("name", type);
		  var foo = document.getElementById("fooBar"); 
		  //Append the element in page (in span).
		  foo.appendChild(element); } 
	 </SCRIPT> 
 </HEAD> 


<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poll_question %><br>
    <%= f.text_field :poll_question %>
  </div>
  
  <div class="field">
    <%= f.label :poll_answers %><br>
    <%= f.text_field :poll_answers %>
  </div>
  
  <INPUT type="button" value="Add answer" onclick="add('text')"/> 
		  <span id="fooBar">&nbsp; 
		  <br> 
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
