<div class="dashboard">
  <p>This is a test view</p>
  <p>Current signed in user is : <%= current_user.full_name %></p> 

  <% if Child.first.nil? %>
    <p>you have no children to view</p>
  <%else%>
    <% @child = Child.find(:all).each do |child|%> 
      <button onclick= "goTo(<%= "\'#{child.registered_user.id}\'" %>)">
        <%= child.registered_user.username %>
      </button>
      <%end%>
  <%end%>
  <%= link_to 'New survey', new_new_survey_path %>
</div>

 <script>
function goTo(id) {
    window.location.href = "http://localhost:3000/access_page/access?id=" + id;
} 
</script>
