<h5>My Friends</h5>
  <%if friends.to_a !=[]%>
    <div class="friend_list">
      <%friends.to_a.each do |friend|%>
        <%user=RegisteredUser.where("id=#{friend.registered_user_id}").first%>
        <%s="#{user.first_name} #{user.family_name}"%>
        <%if user.online == true%>
          <p class="friend"><label class="circle_red"></label>&nbsp;<%=s%></p>
        <% else %>
          <p class="friend"><label class="circle_green"></label>&nbsp;<%=s%></p>
        <% end %>
      <%end%>
    </div>
  <%else%>
    <h5>You Currently have no Friends</h5>
  <%end%>
