<h3>My Friends</h3>
  <%if @friends.to_a !=[]%>
    <div class="friend_list">
      <%@friends.to_a.each do |friend|%>
        <%child_friend=RegisteredUser.where
          ("id=#{friend.registered_user_id}").first%>
        <%full_name="#{child_friend.first_name} #
          {child_friend.family_name}"%>
        <p class="friend"><%=full_name%></p>
      <%end%>
    </div>
  <%else%>
    <h4>You Currently have no Friends</h4>
  <%end%>
