/******************************************************************
 * Style for round button outer container.                        *
 * Round button should be composed of an outer container of class *
 * round_button and an inner element of class round_inner.        *
 * round_inner can be an anchor element for example.              *
 * Authors: Ahmed H. Ismail                                       *
 ******************************************************************/
.round_button {
  width: 100px;   
  height: 25px;  
  margin: auto;  
  position: relative;  
  background: #94c4fe;  
  background: linear-gradient(to bottom,  #94c4fe 31%,#d3f6fe); /* Gives glossy look */
  border-radius: 25px;
  border: 1px solid #4864a9;  
  color: #000;  
  font-size: 0.750em;  
  /* Make it look embosed */
  text-shadow: 1px 1px 0px rgba(255,255,255,.5); 
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
  text-align: center; /* Center content */
  /* Cancel selection, when clicking multiple times in rapid succession */
  -moz-user-select: none; 
  -webkit-user-select: none; 
}

.round_button:before {  
  content: "";  
  width: 90px;  
  height: 16px;  
  display: block;  
  position: absolute; /* Relative to closest ancestor */ 
  left: 5px;  
  border-radius: 8px;
  /* Gradient for glossy feel */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%); 
  
}

.round_button:active { 
  /* Click effect */
  box-shadow:  0 0 white;
}

/*******************************
 * Contains the button's text. *
 * Authors: Ahmed H. Ismail    *
 *******************************/
.round_inner {
  margin: 5px auto;
  position: relative; 
  font-family: Courier;
  /* Take all remaining space */
  width: 100%;
  height: 100%;
  /* Place on top in order to be displayed clearly despite of gradients */
  z-index: 1;
  /* Incase someone places a link inside */
  text-decoration: none; 
  color: black;
  display: block;
}

/*****************************
 * Style for locale buttons  *
 * Similar to round buttons. *
 * Authors: Ahmed H. Ismail  *
 *****************************/
.locale_button {
  float:right;
  margin-right: 0;
  display: inline-block;
  clear: both;
}
.locale_button .round_button {
  display:inline-block;
  width: 50px;
  font-size: 0.5em;
  height: 20px;
}
