
#notifications_list ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

}

#notifications_list {
  display: inline-block;
  bottom: 100%;
}

#notifications_list span {
  margin: 0;
  display: block;
}

#notifications_list span:hover {
  background-color: #FF0000;
}

#notifications_list li {
  line-height:140%;
  text-indent:0px;
  background-position: 1px 8px;
  padding-left: 20px;
  background-repeat: no-repeat;
}


#notifications_list .collapsed {
  background-image: url("collapsed.png");
}

#notifications_list .expanded {
  background-image: url("expanded.png");
}


#notifications_list:hover ul li:hover ul {
    position: absolute;
    margin-top: 1px;
    font: 10px;
    bottom: 100%; /* added this attribute */
}

