/*****************************
 * Style for sign in         *
 * Authors: Ahmed H. Ismail. *
 *****************************/

.signin {
  text-align: center;
  background: #f6f6f6;  
  border: 1px solid #bbb;  
  height: 100%;  
  margin: 50px auto;  
  position: relative;  
  width: 500px;   
  box-shadow: 0 0 3px rgba(0,0,0,.2);  
  border-radius: 3px;
  color: #2A1C7A;  
}



.signin:after,  
.signin:before {  
  background: #f6f6f6;  
  border: 1px solid #aaa;  
  bottom: -8px;  
  content: '';  
  height: 100%;  
  left: 2px;  
  position: absolute;  
  width: 80%;  
  z-index: -10;    
  box-shadow: 0 0 3px rgba(0,0,0,.2);   
  border-radius: 3px;  
}  


.signin:before {  
  bottom: -14px;  
  left: 5px;
  height: 100%;  
  width: 80%;  
  border-radius: 3px;  
  box-shadow: 0 0 15px rgba(0,0,0,0.5);  
}  


.signin form input{  
  outline: 0;  
  display: block;  
  width: 330px;  
  padding: 8px 15px;  
  border: 1px solid gray;  
  font-size: 16px;  
  font-weight: 400;  
  border-radius: 25px;  

  box-shadow: inset 0 2px 8px rgba(0,0,0,0.3);  
} 

.signin form input[type='submit']   {    
  padding: 10px 20px;
  margin: auto; 
  display: block;  
  cursor: pointer;   
  font-size: 16px;  
  font-weight: 700;  
  color: #fff;
  width: 30%;  
  text-shadow: 0 1px 0 #000;  
  background-color: #0074CC;  
  border: 1px solid #05C;  
  border-radius: 25px;   
  background-image: linear-gradient(to top, #08C, #05C);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.5);          
}  

#error_explanation {
  color: #cc0000;
  font-family: Cursive;
}
#error_explanation .alert {
  border-radius:10px;
  font-weight:bold;
  text-transform:uppercase;
  color:#555;
  width: 80%;
  padding:10px 10px 10px 36px;
  margin: auto;
  font-size: 1em;
  background: #ffecec url('error.png') no-repeat 10px 50%;
  border:1px solid #f5aca6;
}

.signin ul {
  list-style: none;
}


#alert_container {
  color: #cc0000;
  font-family: Cursive;
}

#alert_container .flash {
  border-radius:10px;
  font-weight:bold;
  text-transform:uppercase;
  color:#555;
  width: 80%;
  padding:10px 10px 10px 36px;
  margin: auto;
  font-size: 1em;
  border:1px solid #f5aca6;
}

.flash-signin_error {
  background: #ffecec url('error.png') no-repeat 10px 50%;
}