<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD

  <title>Kidzen</title>

=======
  <title>Kidzen</title>
>>>>>>> 62d85970fc5313f1786eaa33541c3fd359f911c5
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
