<% if @user.nil?  %>
  <% if ! @errors.empty? %>
  <div id="error_explanation">
    <div class="alert">
      The form contains <%= pluralize(@errors.length, "error") %>.
    </div>
    <ul>
      <% @errors.each do |msg| %>
        <li>*<%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>*<%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>