<!--# This page is to create answer.
	# Parameters : None.
	# Returns : None.
	# Author : Ahmad Bassiouny.-->
<p class="fields">
  <%= f.label :content, "answer" %><br />
  <%= f.text_field :content %><br />
  <%= link_to_remove_fields "remove", f %>
</p>