<!--# This page is to create Pic answer.
	# Parameters : None.
	# Returns : None.
	# Author : Ahmad Bassiouny.-->
<p class="fields">
  <%= f.label :pic_url, "answer Pic" %><br />
  <%= f.text_field :pic_url %><br />
  <%= link_to_remove_fields "remove", f %>
</p>