<% content_for :javascript_includes do %>
<%= javascript_include_tag("access.js") %>
<% end %>
<% content_for :stylesheet_includes do %>
<%= stylesheet_link_tag("access.css") %>
<% end %>
<!-- This part views a specific option of a child through a checked or unchecked box according to it's value in the DB 
Authors:- Mohamed Khaled AbdelMeguid -->
<div class = "tags">  
<% if (Permission.exists?(registered_user_id: @child.registered_user.id , abilities: ["can_create_public_chat_rooms"=>true])) %>
  <p class = "tags"> 
  <input type="checkbox" id = "can create public chat rooms" onclick="changeCreateRooms(<%= "\'#{@child.registered_user.id}\'" %>)" checked >
  can create public chat rooms
  </p>
  <%else%>
    <p class = "tags"> <input type="checkbox" id = "can create public chat rooms" onclick="changeCreateRooms(<%= "\'#{@child.registered_user.id}\'" %>)" >
    can create public chat rooms </p>
    <br>
  <%end%>   
</div>

