<h3>My Friends' Events</h3>
  <%if @friends.to_a !=[]%>
    <div class="friend_event_list">
      <%@friends.to_a.each do |friend|%>
        <%event=RegisteredUser.where
          ("id=#{friend.registered_user_id}").first%>
        <%name="#{event.name} #
          {event.location} #
          {event.date_time} #
          {event.description}"%>
        <p class="event"><%=name%></p>
      <%end%>
    </div>
  <%else%>
    <h4>Your Friends have no events yet</h4>
  <%end%>