  <head>
    <style type="text/css">
      .played
      {
        background-image:url('/assets/blue-and-white-1.jpg');
        background-size:150px 100px;
        background-repeat:no-repeat;
        font-weight:100;
        height:300px;
        margin-left:-12px;
        padding:12px;
        width:300px;
      }
     .played:hover
     {
       background-image:url('/assets/abstract_blue_waves_bubbles.jpg');
       color:white;
       font-weight:700;
       font-style:italic;
       text-decoration:none;
     }
    </style>
  </head>
  <h3>Activities</h3>
  <div class="activities">
    <%if(!@activities.empty?)%>
      <%for activity in @activities%>
        <%if activity.children.where(:id=>current_user.id).exists?%>
          <p> <%=link_to(activity.name,{:controller=>:activities,:action=>"show",
            :id=>activity.id},:class =>"played")%></p>
        <%else%>
          <p> <%=link_to(activity.name,{:controller=>:activities,:action=>"show",
            :id=>activity.id},:class =>"activity")%></p>
        <%end%>
      <%end%>
  </div>
    <%else%>
      <br/>
      <h4>You currently have no available activities</h4>
    <%end%>



