<!-- Authors: Shary Beshara -->
<!-- This the email ehat would be sent to the parent to verify the child-->

<h1>Account Verification</h1>

<p>
  (child's name) would like to join kidzen netwrk
  follow this link <%= link_to 'Verify', 'http://localhost:3000/child/verify' %> to verify his/her joining
</p>