 <!-- This is the invitation email that should be sent -->    
  <!-- Authors: Shary Beshara --> 
<h2>Join kidzen network<h2>
<p>
 <%= @supervisor.full_name %> invites you to join kidzen network and become one of his/her friends follow this link to be able to sign up <%= link_to 'Sign Up', 'http://localhost:3000/supervisors/signup' %> 
</p>