
<!-- Authors: Shary Beshara -->
<!-- This the email that contains the info of the notification that should be sent to the user -->
<h2> <%= @notification.short_desc %><h2>
<p>
 <%= @notification.long_desc %>
</p>