 <h1>Listing posts</h1>
 <%= render partial: "form" %>
 <% @posts.each do |c| %>
   <%= render :partial => c %>
   <% @post = c %>
   <%= render partial: "show" %>
 <% end %>
 <% if !Supervisor.exists?(registered_user: @user) %>
 	<%= link_to 'New Post', new_post_path %>
 <% end %>
