<h1>Listing registered_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_users.each do |registered_user| %>
      <tr>
        <td><%= link_to 'Show', registered_user %></td>
        <td><%= link_to 'Edit', edit_registered_user_path(registered_user) %></td>
        <td><%= link_to 'Destroy', registered_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registered user', new_registered_user_path %>
