<%= @song.name %>
<br>
<%= audio_tag @song.real_file, :controls => true, :type => "audio/mp3" %>
<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<br>
<%= link_to 'Back', songs_path %>